.welcome{
    border-radius: 5px;
    background-size: cover;
    background-image: url("../images/welcome.jpg");
    height: 500px;
    width: 1100px;
    margin: 15px auto 45px auto;
    border: 3px solid black;
}

.informacao{
    text-align: center;
    font-size: larger;
    font-family: "Fira Code", serif;
    margin: 50px auto 0 auto;
    color: white;
    border-bottom: 2px solid black;
    width: 400px;
}

.informacao:hover{
    cursor: default;
}
