body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 5px;
}

header {
    background-color: #718096;
    height: 50px;
}
header a{
    margin: 10px;

}

.container{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
