.cadastroBtn{
    margin: 16px 15px 0 0;
    padding: 6px;
    height: 20px;
    display: inline-flex;
    border-radius: 1px;
    text-decoration: none;
    background-color:  rgb(45, 55, 72);
    color: rgb(179,84,241);
}

.cadastroBtn p{
    margin: 0;
    font-size: larger;
}

.cadastroBtn:hover{
    color: black;
    background-color: rgb(179,84,241);
}
