.pokemonsCaptured{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.pokemonCaptured{
    flex-wrap: wrap;
    width: 150px;
    border: 2px solid #2d3748;
    margin: 10px;
    text-align: center;
}

.pokemonCaptured img{
    padding: 1px;
    border-bottom: 3px dashed blanchedalmond;
}

.submitBtn{
    color: white;
    cursor: pointer;
    padding: 5px;
    background-color: darkred;
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 3px;
}
